# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Python-Code\face_mood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
